body {
    font-family: 'Comfortaa', cursive;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
}
.clock{
    display: flex;
    align-items: center;

& .clock-face{
    position: relative;
    margin: 100px auto;
    height: 30rem;
    width: 30rem;
    background-color: #FBE9E7;
    border: 20px solid #C8E6C9;
    opacity: 0.9;
    
    & .hand{
      width: 45%;
      height: 10px;
      background: #C8E6C9;
      position: absolute;
      border-radius: 10px;
      top: 50%;
      transform-origin: 100%;
      left: 5%;;
      transform: rotate(90deg);
    }
    & .time {
        opacity: 1;
        position: absolute;
        font-size: 40px;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        color: #C8E6C9;
    }
}
}